/*Styling nav*/ 
  .nav{
background-color: #7A002F;
padding: 15px 0;
box-shadow: 0 4px 10px #7A002F;
  }
   .nav nav{
    display: flex;
    justify-content: center;
    gap: 40px;
   }
 .nav nav a{
     color: #DDCFCF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 8px 15px;
    text-decoration: none;
 }
  .nav nav a:hover{
    background-color: #FF3381;
  }