/*Styling nav*/ 
  .nav{
background-color: #7A002F;
padding: 15px 0;
box-shadow: 0 4px 10px #7A002F;
  }
   .nav nav{
    display: flex;
    justify-content: center;
    gap: 40px;
   }
 .nav nav a{
     color: #DDCFCF;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 8px 15px;
    text-decoration: none;
 }
  .nav nav a:hover{
    background-color: #FF3381;
  }

  /*Styling the header*/
   .header{
    display: flex;
    justify-content: right;
    background-color: #0F1D6C;
    padding: 20px;
    position: sticky;
    top: 0;
   }
    .header p{
        color:  #DDCFCF;
    }
     .header a{
        color:  #DDCFCF;
        text-decoration: none;
     }

     /*Body*/
     body{
        background-color:#52001F;
        color:  #DDCFCF;
        font-weight: 400;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     }

   /*footer styling*/
 footer{
    background: linear-gradient(to right,#4e73df ,#1cc881 );
    color: white;
    padding: 20px 10px;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: center;
 }

 footer p{
    margin: 0;
 }

 /*Footer hover*/
 footer:hover{
    opacity: 0.95;
 }
 
 /* Card styling 
  .card{
padding: 20px;
width: 350px;
height: 350px;
margin: 20px;
background-color: #DDCFCF;
border-radius: 10px;
box-shadow: 0 10px 20px #DDCFCF;
text-align: left;
  }

   .card h2{
      text-align: center;
      color: black;
      margin-bottom: 15px;
      display: contents;
      justify-content: left;
   }

    .card p{
      font-size: 15px;
      margin: 40px 0;
    }

     .card strong{
      color: black;
     }
      
     */

     /* Category box */
      .get-category{
         border: 2px dotted rgb(142, 81, 81);
         padding: 20px;
         width: 700px;
         height: 500px;
         margin: 40px auto;
         text-align: center;
         background-color: #C41C38;
         font-weight: 900;
         border-radius: 10px;
      }

       .get-category p{
         margin: 210px auto;
         font-size: large;
         font-weight: bold;
         font-family: Georgia, 'Times New Roman', Times, serif;
       }


